/hs_err_pid671.log
/hs_err_pid771.log
/hs_err_pid839.log
/hs_err_pid904.log
/hs_err_pid1367.log
/target/
/javaVulkanEngine.iml
/.idea/
/src/main/resources/shaders/frag.spv
/src/main/resources/shaders/vert.spv
